

$font-One    : 'Dosis', sans-serif;

$font-Two    : 'Roboto', sans-serif;



$theme-color      : #3575d3;

$link-color       : #f5800d;


$link-color-2      : #f5800d;
$link-color-3      : #f5800d;

$white            : #FFFFFF;
$black            : #000000;
$dark-gray        : #7F7F7F;
$light-gray       : #C0C0C0;
$green            : #5CB85C;
$light-blue       : #5BC0DE;
$red              : #D9534F;
$yellow           : #F0AD4E;
$blue             : #0000FF;







